<mat-form-field style="width: 100%;" appearance="fill">
  <mat-label>Sélectionnez un patient</mat-label>
  <mat-select (selectionChange)="searchQuestionnaire($event)">
    <mat-option *ngFor="let patient of patientList" [value]="patient.id">
      {{patient.name[0].given[1]}} {{patient.name[0].given[0]}}   {{patient.name[0].family}}
    </mat-option>
  </mat-select>
</mat-form-field>


<mat-grid-list cols="2" rowHeight="2:1" *ngIf="toShow" >
  <mat-grid-tile *ngFor="let questionnaire of questionnaireRespList" >
    <mat-card id="carte"
              matTooltip="Statut : {{questionnaire.status}}"
              matTooltipPosition="right"
              (click)="openQuestionnaire(questionnaire)">
      <div id="titre"> {{questionnaire.subject.reference}}<br> </div>
      <img src="../../assets/questionnaire.png">
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
