<a routerLink="home"><button mat-raised-button color="primary" class="btnLink"><mat-icon [inline]="true" >home</mat-icon>Accueil</button><br/><br/></a>
<a routerLink="newQuestionnaire"><button mat-raised-button color="primary" class="btnLink"><mat-icon [inline]="true" >add</mat-icon>Créer un questionnaire</button><br/><br/></a>
<a routerLink="manageQuestionnaire"><button mat-raised-button color="primary" class="btnLink"><mat-icon [inline]="true" >edit</mat-icon>Gérer mes questionnaires</button></a><br/><br/>
<a routerLink="myPatient"><button mat-raised-button color="primary" class="btnLink"><mat-icon [inline]="true" >person</mat-icon>Mes patients</button></a>

