<div class="container text-center">
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Nom du questionnaire</mat-label>
          <input matInput placeholder="Ex. Questionnaire 1"  />
        </mat-form-field>
        
      </form>

    <button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Ajouter une question</button>
    <br/>
    <br/>
    <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8">
  
      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Question </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} &nbsp;&nbsp;&nbsp;&nbsp;</td>
      </ng-container>
      
  
      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element" class="action-link"> 
          <a (click)="openDialog('Update',element)">Editer</a> | 
          <a (click)="openDialog('Delete',element)">Supprimer</a>  
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
  </div>

<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill" style="width: 60%;">
    <mat-label>Titre</mat-label>
    <input required matInput>
  </mat-form-field>
  <br/>

  <mat-form-field class="example-full-width" appearance="fill" style="width: 60%;">
    <mat-label>Date de création du questionnaire</mat-label>
    <input required matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <br/>

  <mat-form-field class="example-full-width" appearance="fill" style="width: 60%;">
    <mat-label>Quel est votre taux de glycémie ? (g/L)</mat-label>
    <input required matInput type="number">
  </mat-form-field>
  <br/>

  <mat-form-field class="example-full-width" appearance="fill" style="width: 60%;">
    <mat-label>Quel est votre taux d'activité sportive par semaine ? (heures)</mat-label>
    <input required matInput type="number">
  </mat-form-field>
  <br/>

  <mat-form-field class="example-full-width" appearance="fill" style="width: 60%;">
    <mat-label>Combien de crises d'hypoglycémies et d'hyperglycémie avez vous subit ce mois-ci ?</mat-label>
    <input required matInput type="number">
  </mat-form-field>
  <br/>

  <mat-form-field class="example-full-width" appearance="fill" style="width: 60%;">
    <mat-label>Quel est votre poids ? (kg)</mat-label>
    <input required matInput type="number">
  </mat-form-field>
  <br/>

  <label>Prenez vous correctement votre traitement ? *</label><br/>
  <mat-radio-group required aria-label="Prenez vous correctement votre traitement ?">
    <mat-radio-button value="1">Oui</mat-radio-button>&nbsp;&nbsp;
    <mat-radio-button value="2">Non</mat-radio-button>
  </mat-radio-group>
  <br/>
  <br/>

  <button mat-raised-button color="success" type="submit">Enregistrer</button>&nbsp;&nbsp;
  <button mat-raised-button color="warning">Réinitialiser</button>
</form>


