#allContent{
  height: 60%;
}

img{
  width: 50%;
  height: auto;
}

#titre{
  margin-top: 5%;
  text-align: center;
}

#sousTitre{
  font-size: 210%;
  text-align: center;
  margin-bottom: 5%;
}

#content{
  text-align: center;
}

.changement{
  font-size: 210%;
  display: inline-block;
  color: #2eabbc;
  font-family: 'Autour One', cursive;
}

.counter, .counter2{
  font-weight: bold;
}

#sousTitre2{
  font-size: 150%;
  text-align: center;
}

