<div id="bg">
  <mat-grid-list cols="3" rowHeight="3:2">
    <mat-grid-tile *ngFor="let questionnaire of questionnaireList" >

      <mat-card id="carte"
                matTooltip="statut : {{questionnaire.status}} créé le : {{questionnaire.date}}"
                matTooltipPosition="right">
        <div id="mat-card-contenu" (click)="openQuestionnaire(questionnaire)">
          <div id="titre"> {{questionnaire.title}} <br> </div>

          <img src="../../assets/questionnaire.png">
        </div>
        <mat-icon title="Envoyer" id="b1" [inline]="true">send</mat-icon>
        <mat-icon title="Modifier" id="b2" [inline]="true">edit</mat-icon>
        <mat-icon title="Supprimer" id="b3" [inline]="true" (click)="deleteQuestionnaire(questionnaire)" >delete</mat-icon>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</div>
