<style>@import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');

</style>

<div id="allContent">
  <div id="titre"><img src="assets/medilibTitre.png"></div>
  <div id="sousTitre">Au plus près de vos patients !</div>
  <div id="content">
    <div id="sousTitre2">Ils nous font déjà confiance !<br/></div>
    <br/><br/><br/>
    <div class="changement">
      <span class="counter">832</span><br/>
      <span>Hôpitaux</span>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="changement">
      <span class="counter2">1392</span><br/>
      <span>Praticiens</span>
    </div>
  </div>
</div>
