<div id="bg">
  <mat-grid-list cols="3" rowHeight="3:2">
    <mat-grid-tile *ngFor="let questionnaire of questionnaireList" >

      <mat-card id="carte">
        <div id="mat-card-contenu" (click)="openQuestionnaire(questionnaire)" >
          <div id="titre"> {{questionnaire.title}} <br> </div>

          <img src="../../assets/questionnaire.png">
        </div>
        <mat-icon id="b1" [inline]="true" matTooltip="Envoyer"(click)="sendQuestionnaire(questionnaire)" >send</mat-icon>
        <mat-icon id="b2" [inline]="true" matTooltip="Editer">edit</mat-icon>
        <mat-icon id="b3" [inline]="true" matTooltip="Supprimer" (click)="deleteQuestionnaire(questionnaire)" >delete</mat-icon>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</div>
