<mat-toolbar>
  <span class="title">MediLib</span>
  <img src="assets/MediLib.png" alt="IconeMediLib" id="iconMediLib"/>
  <span class="icon">
    <mat-icon [inline]="true" matTooltip="Dr. Jankowiak" (click)="onConsultInfoPractitioner()" >person</mat-icon>
  </span>
</mat-toolbar>

<mat-sidenav-container id="sidenav-container">
  <mat-sidenav mode="side" opened id="sidenav-side">
    <app-nav-bar></app-nav-bar>
  </mat-sidenav>
  <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>
